.main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80px;
    background-color: #1976d2;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.main-menu-container.open {
    width: 80px; 
    opacity: 1;  /* Hiển thị menu khi mở */
}

.menu-bulge {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 40px;
    height: 60px;
    background-color: #1976d2;
    border-radius: 0 40px 40px 0;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1; /* Đảm bảo nút này luôn nằm trên cùng */
}

.menu-toggle-icon {
    color: white;
    font-size: 50px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 20px; /* Khoảng cách phía trên cùng */
}

.menu-icon {
    font-size: 50px !important;
    color: white;
    transition: transform 0.2s;
}

.menu-icon:hover {
    transform: scale(1.1);
}

.main-menu-container.closed {
    width: 0px; /* Thu nhỏ kích thước menu khi đóng */
}

.basic-menu {
    margin-left: 50px;
    margin-top: -20px;
}

.home {
    width: calc(100% - 10px); /* Chiếm toàn bộ chiều rộng còn lại */
    background-color: aquamarine;
    margin-left: 80px; /* Để tránh bị che khuất bởi menu */
    padding: 20px; /* Thêm padding để nội dung không chạm vào viền */
    height: 100vh;
}


/* .main-menu-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 20px 0;
  } */
  
  /* .menu-section-top,
  .menu-section-middle,
  .menu-section-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .menu-section-middle {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }
  .menu-section-middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; 
  } */
  
/*   
  .menu-section-bottom {
    margin-top: auto;
  } */
  