/* ForgotPassword.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.box {
    position: relative;
    overflow: hidden;
    padding: 16px; 
    background-color: white;
    border-radius: 8px; 
    z-index: 1;
}

.form {
    background-color: white;
    border-radius: 8px;
    padding: 24px; 
}

.button {
    margin-top: 16px; 
}
